.main {
  max-width: 45.8vw;
  margin: 147px auto;
  background-color: var(--main-light-color);
  border-radius: 20px;
}

.start {
  max-width: 54.2vw;
  padding: 65px 0;
  margin: 156px auto;
}

.end {
  max-width: 37.87vw;
  margin: 232px auto;
}
