.button {
  width: 190px;
  height: 55px;
  font-family: var(--main-font-family);
  font-size: var(--text-header-info);
  font-weight: var(--font-weight-middle);
  line-height: var(--line-height-normal);
  color: var(--main-light-color, #fff);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing-normal);
  cursor: pointer;
  background-color: var(--button-active-background-color);
  border-style: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--button-hover-background-color);
}

.button:active {
  background-color: var(--button-onclick-background-color);
}

.button .disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled-background-color);
}

.submit__answer {
  margin-top: 50px;
  margin-bottom: 46px;
}

.button__start {
  margin: 0 auto 28px;
}

.button__end {
  margin: 0;
}
