.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4.42vw;
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}

.rules__title {
  height: 38px;
  margin: 0 auto;
  font-size: var(--text-header-question);
  font-weight: var(--font-weight-middle);
}

.rules__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
  margin: 40px auto 50px;
  font-size: var(--text-header-info);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-normal);
}
