.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 99px;
  padding: 0 151px;
  background-color: #fff;
}

.header__logo,
.header__rules {
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

.header__logo {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #06f;
  letter-spacing: 0;
}

.header__rules {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #393939;
  letter-spacing: 0;
}
