.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 99px;
  padding: 0 7.85vw;
  background-color: var(--main-light-color);
}

.header__logo,
.header__rules {
  font-family: var(--main-font-family);
  line-height: var(--line-height-normal);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing-normal);
  text-decoration: none;
}

.header__logo {
  font-size: var(--text-header-logo);
  font-weight: var(--font-weight-bold);
  color: var(--button-active-background-color);
}

.header__rules {
  font-size: var(--text-header-info);
  font-weight: var(--font-weight-normal);
  color: var(--main-font-color);
}

.header__custom {
  display: flex;
  flex-direction: row;
  gap: 3.9vw;
  align-items: center;
  justify-content: space-between;
}

.btn__logout {
  align-self: center;
  font-size: 28px;
  font-weight: var(--font-weight-middle);
  color: var(--main-font-color);
  cursor: pointer;
  background-color: inherit;
  border: none;
}
