.password_input {
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: var(--line-height-normal);
  color: var(--main-font-color);
  letter-spacing: var(--letter-spacing-normal);
}

.field__password_input {
  position: relative;
}

.field {
  width: 17vw;
  padding: 8px;
  padding-right: 2.3vw;
  margin-top: 5px;
  border: 1px solid #83b4ff;
  border-radius: 10px;
}

.field__show_password {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  border: none;
  transform: translateX(-50%) translateY(100%);
}
