.password_input {
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;
  height: 50px;
  padding: 8px;
  padding-right: 42px;
  user-select: none;
  outline: none;
  border: 1px solid #83b4ff;
  border-radius: 10px;
}

.field__show_password {
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  transform: translateX(-150%) translateY(125%);
}
