.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 57px 5vw;
}

.question__content,
.radio__button {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-middle);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}

.question__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 57px;
  margin-bottom: 40px;
}

.question__header-title {
  font-size: var(--text-header-question);
}

.question__total-score {
  font-size: var(--text-header-info);
}

.question__description {
  max-width: 32.7vw;
  margin-bottom: 35px;
}

.header__description {
  font-size: var(--text-header-info);
  font-weight: var(--font-weight-normal);
}

.form__question {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  max-width: 33vw;
  margin-left: 25px;
}

.form__question input[type="radio"] {
  display: none;
}

.radio__button {
  width: 100%;
  padding: 17px 25px;
  cursor: pointer;
  background-color: var(--radio-button-normal);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.radio__button:hover {
  background-color: var(--radio-button-hover);
}

.question :checked + .radio__button {
  background-color: var(--radio-button-checked);
}

.question :disabled + label {
  background-color: var(--radio-button-disabled);
}
