.form__sign_in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 19.7vw;
  margin: 0 auto;
  font-family: var(--main-font-family);
  line-height: var(--line-height-normal);
  color: var(--main-font-color);
  letter-spacing: var(--letter-spacing-normal);
}

.title__sign_in {
  align-self: center;
  height: 38px;
  margin-top: 50px;
  margin-bottom: 26px;
  font-size: var(--text-header-question);
  font-weight: var(--font-weight-middle);
}

.email__sign_in {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 18.85vw;
  margin-bottom: 15px;
  font-size: 18px;
}

.email {
  position: relative;
  width: 100%;
  padding: 8px;
}

.email:invalid {
  border-color: #d00000;
}

.info__sign_in {
  width: 100%;
  height: 46px;
  margin-bottom: 50px;
  font-size: var(--text-header-info);
  text-align: center;
}

.link__register {
  color: var(--button-active-background-color);
}
