.modal__button {
  font-family: var(--main-font-family);
  font-size: var(--text-header-info);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--main-font-color);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing-normal);
  text-decoration: none;
  background: none;
  border: none;
}

.modal__button:hover {
  color: #585858;
}
