.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-middle);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
  cursor: pointer;
  background-color: var(--radio-button-normal);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.answer__radio {
  display: none;
}

.answer:hover {
  background-color: var(--radio-button-hover);
}

.answer:has(:checked) {
  background-color: var(--radio-button-checked);
}

.answer :disabled {
  background-color: var(--radio-button-disabled);
}
